# -*- coding: utf-8 -*-
# 
# As configurações do sistema ticket deverão ser definidas
# neste arquivo. 
#

# Endereço onde o servidor irá ouvir as conexões
host = '127.0.0.1'
port = 5000

# Habilitar debug - não usar em produção!
debug = False

# Arquivo do banco de dados SQLite. Será criado automaticamente
# caso não exista.
dbname = 'ticket.db'

# Título das páginas.
title = 'ticket'

# Descrição das prioridades. É possível adicionar mais prioridades
# caso seja necessário.
priodesc = {
	1: 'Ação Urgente',
	2: 'Atenção',
	3: 'Prioridade Normal',
    4: 'Baixa Prioridade',
    5: 'Baixíssima Prioridade',
}

# Cores das prioridades.
priocolor = {
	1: '#FF8D8F',
	2: '#99CC00',
	3: '#FF9966',
	4: '#6DF2B2',
    5: '#9FEFF2',
}

# Nomes dos dias da semana.
weekdays = {
	0: 'domingo',
	1: 'segunda-feira',
	2: 'terça-feira',
    3: 'quarta-feira',
    4: 'quinta-feira',
    5: 'sexta-feira',
    6: 'sábado',
}

# Tamanho máximo (em bytes) de arquivos anexados aos tickets
filemaxsize = 128000

# Servidor de e-mail para envio
mailsmtp = '127.0.0.1'

# Funcionalidades ativas. Comentar a linha para desativar a funcionalidade.
features = []
features.append('timetrack')	# Tempo trabalhado
features.append('adminonly')	# Restrição de tickets para administradores
features.append('fileattach')	# Arquivos anexos
features.append('dependency')	# Dependências entre tickets
features.append('datedue')		# Data de previsão de solução
features.append('mail')			# Envio de comentários por e-mail