%rebase("base", title="Administrar", filter="", ctx=ctx)

<h2>Usuários</h2>
<form method="post" action="/admin/save-new-user" enctype="multipart/form-data">
	<input type="text" name="username" size="30">
	<input type="submit" name="submit" value="novo usuário">
</form>
<p>
<table>
	<th>usuário</th><th>nome</th><th>e-mail</th><th>administrador</th><th>ações</th>
	%for user in ctx.users:
		<tr>
			<td> {{user.username}} </td>
			<td> {{user.name or ""}} </td>
			<td> {{user.email or ""}} </td>
			<td>
				%if user.is_admin:
					sim
				%else:
					não
				%end
			</td>
			<td>
				<a href="/admin/edit-user/{{user.username}}">editar</a>
				%if ctx.username != user.username:
					<a href="/admin/remove-user/{{user.username}}">excluir</a>
					<a href="/admin/force-new-password/{{user.username}}">forçar nova senha</a>
					%if user.is_admin:
						<a href="/admin/change-user-admin-status/{{user.username}}/0">retirar admin</a>
					%else:
						<a href="/admin/change-user-admin-status/{{user.username}}/1">tornar admin</a>
					%end
				%end
			</td>
		</tr>
	%end
</table>

<h2>Manutenção</h2>
<a href="/admin/reindex-fts">Recria índices de busca</a>: Utilizar
caso você tenha modificado dados diretamente no banco de dados (exemplo: importação de dados
de outros sistemas ou após atualizações de versão que exijam esta rotina).
