%rebase base title="Administrar", filter="", username=username, userisadmin=userisadmin, version=version

<h2>Usuários</h2>
<form method="post" action="/admin/save-new-user" enctype="multipart/form-data">
	<input type="text" name="username" size="30">
	<input type="submit" name="submit" value="novo usuário">
</form>
<p>
<table>
	<th>usuário</th><th>administrador</th><th>ações</th>
	%for user in users:
		<tr>
			<td> {{user['username']}} </td>
			<td>
				%if user['is_admin']:
					sim
					%end
			</td>
			<td>
				%if username != user['username']:
					<a href="/admin/remove-user/{{user['username']}}">excluir</a>
					<a href="/admin/force-new-password/{{user['username']}}">forçar nova senha</a>
				%end
			</td>
		</tr>
	%end
</table>