<!doctype html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<meta charset="utf-8">
</head>
<body>
	<div id="top">
		<div id="toplogo"><a href="/">ticket</a></div>
		<div id="topusermenu">
			<a title="logado como {{ctx.username}}" href="#">
			<img src="/static/user-icon.png"></a> 
			<a title="trocar senha" href="/change-password"><img src="/static/password-icon.png"></a> 
			%if ctx.user_is_admin:
				<a title="administrar" href="/admin"><img src="/static/admin-icon.png"></a> 
			%end
			<a title="sair" href="/logout"><img src="/static/logout-icon.png"></a>
		</div>
	</div>
	<div class="clear"></div>
	<div id="content">
		<table border="0" align="right" class="topbox">
			<tr>
			<td class="topmenu" align="right">
				<a href='/ticket/new' accesskey='N' title='novo ticket (alt-shift-n)'><b>criar novo</b></a>
				| <a href='/?filter=o:p g:p' title="todos em aberto">em aberto</a>
				| <a href='/?filter=T o:c l:100 g:d' title="por data de criação">criados</a>
				- <a href='/?filter=T o:m l:100 g:d' title="por data de última modificação">modificados</a>
				- <a href='/?filter=F o:f l:100 g:d' title="por data de fechamento">fechados</a>
				- <a href='/?filter=o:v l:100 g:d' title="por data de previsão de solução">agendados</a>
			</td> 
			<tr>
			</tr>
			<td align=right>
			<form method="get" action="/" enctype="multipart/form-data">
				<input type="text" name="filter" size="25" accesskey='S' value="{{filter}}" title="alt-shift-s">
				<input type="submit" name="submit" value="filtrar" />
			</form>
			</td></tr></table>
			<span class="title">{{ title2 }}</span>
			<p>

			%include

			<p>

		</table>
	</div>
	<div class="copyright">
		sistema <a href="https://github.com/zanardo/ticket">ticket</a> • versão {{ctx.version}}
	</div>
</body>
</html>