<!doctype html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<meta charset="utf-8">
</head>
<body>
	<div id="topusermenu">
		<b>olá {{username}}!</b> | 
		<a href="/change-password">trocar senha</a> | 
		%if userisadmin:
			<a href="/admin">admin</a> | 
		%end
		<a href="/logout">sair</a>
	</div>
	<div id="content">
		<table border="0" align="right">
			<tr>
			<td class="topmenu" align="right">
				<a href='/' accesskey='A' title="alt-shift-a">abertos</a>
				| <a href='/?filter=T o:m l:100 g:d' title="alt-shift-m" accesskey='M'>modificados</a>
				| <a href='/new-ticket' accesskey='N' title='alt-shift-n'>novo</a>
			</td> 
			<tr>
			</tr>
			<td align=right>
			<form method="get" action="/" enctype="multipart/form-data">
				<input type="text" name="filter" size="25" accesskey='S' value="{{filter}}" title="alt-shift-s">
				<input type="submit" name="submit" value="filtrar" />
			</form>
			</td></tr></table>
			<span class="title">{{ title }}</span>
			<p>

			%include

			<p>
			<div class="copyright">
				sistema <a href="https://github.com/zanardo/ticket">ticket</a> versão {{version}}
			</div>
		</table>
	</div>
</body>
</html>