<!doctype html>
<html>
<head>
	<title>Trocar Senha</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<meta charset="utf-8">
</head>
<body onload="document.f.oldpasswd.focus();">
	<div id="topusermenu">
		<b>{{username}}</b> | 
		<a href="/change-password">trocar senha</a> | 
		%if userisadmin:
			<a href="/admin">admin</a> | 
		%end
		<a href="/logout">sair</a>
	</div>
	<table border="0" align="right">
		<tr>
		<td class="topmenu" align="right">
			<a href='/' accesskey='A' title="alt-shift-a">abertos</a>
			| <a href='/?filter=T o:m l:100' title="alt-shift-m" accesskey='M'>modificados</a>
			| <a href='/new-ticket' accesskey='N' title='alt-shift-n'>novo</a>
		</td> <tr></tr> <td align=right>
		<form method="get" action="/" enctype="multipart/form-data">
			<input type="text" name="filter" size="25" accesskey='S' value="" title="alt-shift-s">
			<input type="submit" name="submit" value="filtrar" />
		</form>
		</td>
		</tr>
	</table>
	<span class="title">Trocar Senha</span>
	<p>
	<a name='new'></a>
	<form method="post" action="/change-password" enctype="multipart/form-data" name="f">
		<input type="password" name="oldpasswd" size="20"> (Senha Atual)<p>
		<input type="password" name="newpasswd" size="20"> (Nova Senha)<p>
		<input type="password" name="newpasswd2" size="20"> (Confirme Nova Senha)<p>
		<input type="submit" name="submit" value="Trocar Senha">
	</form>
	<p>
	<div class="copyright">
		sistema <a href="https://github.com/zanardo/ticket">ticket</a> versão {{version}}
	</div>
	</table>
</body>
</html>