%rebase base title="Tickets: %s" % filter, filter=filter, username=username, userisadmin=userisadmin, version=version

%data1 = ''
%prio1 = ''
%for tk in tickets:
	%if group == 'date':
		%weekday = weekdays[int(tk[orderdate].strftime("%w"))]
		%data = tk[orderdate].strftime("%Y-%m-%d") + ' - ' + weekday
		%if data1 != data:
			<div class="orderdate">▐ {{data}}</div>
		%end
		%data1 = data
	%elif group == 'priority':
		%prio = priodesc[tk['priority']]
		%if prio1 != prio:
			<div class="orderdate">▐ {{prio}}</div>
		%end
		%prio1 = prio
	%end
	%priobgcolor = priocolor[tk['priority']]
	<table class="ticket" width="100%" border="0">
	<tr>
		<td width="80px" valign="top" align="right" class="ticketlabel">
			#{{tk['id']}}
		</td>
		<td width="5px" title="{{priodesc[tk['priority']]}}"
			bgcolor="{{priobgcolor}}">&nbsp;
		</td>
		<td valign="top" align="left">
			%if tk['status'] == 0:
				<span class="tktitle"><a href="/{{tk['id']}}">{{tk['title']}}</span>
			%elif tk['status'] == 1:
				<span class="tktitleclosed"><a href="/{{tk['id']}}">{{tk['title']}}</span>
			%end
		</td>
		<td valign="top" align="right">
			%for tag in sorted(tk['tags']):
				%if tag in tagsdesc:
					%description = tagsdesc[tag]['description']
					%bgcolor = tagsdesc[tag]['bgcolor']
					%fgcolor = tagsdesc[tag]['fgcolor']
				%else:
					%description = ''
					%bgcolor = 'yellow'
					%fgcolor = 'red'
				%end
				<a href="/?filter=t:{{tag}} o:p"
					class="tag"
					title="{{description}}"
					style="background-color:{{bgcolor}};color:{{fgcolor}};"
				>{{tag}}</a>
			%end
		</td>
	</tr>
	</table>
%end
<p>
{{ len(tickets) }} ticket(s) filtrado(s)
