%rebase base title="Tickets", title2="Tickets", ctx=ctx

%import urllib
%data1 = ''
%prio1 = ''
%for tk in ctx.tickets:
	%if ctx.group == 'date':
		%weekday = ctx.config.weekdays[int(tk[ctx.orderdate].strftime("%w"))]
		%data = tk[ctx.orderdate].strftime("%Y-%m-%d") + ' (' + weekday + ')'
		%rotulo = ''
		%if ctx.orderdate == 'datecreated':
			%rotulo = 'Criação'
		%elif ctx.orderdate == 'datemodified':
			%rotulo = 'Última Modificação'
		%elif ctx.orderdate == 'dateclosed':
			%rotulo = 'Fechamento'
		%elif ctx.orderdate == 'datedue':
			%rotulo = 'Previsão de Solução'
		%end
		%if data1 != data:
			<div class="orderdate">{{rotulo}}: {{data}}</div>
		%end
		%data1 = data
	%elif ctx.group == 'priority':
		%prio = ctx.config.priodesc[tk['priority']]
		%if prio1 != prio:
			<div class="orderdate">Prioridade: {{prio}}</div>
		%end
		%prio1 = prio
	%end
	%priobgcolor = ctx.config.priocolor[tk['priority']]
	<table class="ticket" width="100%" border="0">
	<tr>
		<td width="80px" valign="top" align="right" class="ticketlabel">
			#{{tk['id']}}
		</td>
		<td width="5px" title="{{ctx.config.priodesc[tk['priority']]}}"
			bgcolor="{{priobgcolor}}">&nbsp;
		</td>
		<td valign="top" align="left">
			%class1 = ''
			%if tk['status'] == 0:
				%class1 = 'tktitle'
			%elif tk['status'] == 1:
				%class1 = 'tktitleclosed'
			%end
			%admin = ''
			%if tk['admin_only'] == 1:
				%admin = '<img src="/static/key-icon.png" class="icon" title="somente administradores">'
			%end
			<span class="{{class1}}">
				<a href="/ticket/{{tk['id']}}">{{tk['title']}}</a>
				{{!admin}}
			</span>
		</td>
		<td valign="top" align="right">
			%for tag in sorted(tk['tags']):
				%if tag in ctx.tagsdesc:
					%description = ctx.tagsdesc[tag]['description']
					%bgcolor = ctx.tagsdesc[tag]['bgcolor']
					%fgcolor = ctx.tagsdesc[tag]['fgcolor']
				%else:
					%description = ''
					%bgcolor = '#00D6D6'
					%fgcolor = '#4D4D4D'
				%end
				<a href="/?filter=t:{{urllib.quote(tag.encode('utf8'), '')}} o:p g:p"
					class="tag"
					title="{{description}}"
					style="background-color:{{bgcolor}};color:{{fgcolor}};"
				>{{tag}}</a>
			%end
		</td>
	</tr>
	</table>
%end
<p>

<div class="ticketsfiltrados">
	%if len(ctx.tickets) == 0:
		nenhum ticket encontrado com o filtro especificado
	%elif len(ctx.tickets) == 1:
		1 ticket filtrado
	%else:
		{{ len(ctx.tickets) }} tickets filtrados
	%end
</div>
