%rebase("base", title="Tickets", ctx=ctx, filter=ctx.filter)

%import urllib.parse
%data1 = ''
%prio1 = ''
<table class="tickets" width="100%">
	<th>Código</th><th></th><th>Título</th><th>Últ. Mod.</th><th>Palavras-Chave</th>
%for tk in ctx.tickets:
	%priobgcolor = ctx.config("priocolor")[tk['priority']]
	%if tk['status'] == 1:
		%priobgcolor = ''
	%end
	<tr class="ticketsrow">
		<td valign="middle" align="right" class="ticketlabel">
			{{tk['id']}}
		</td>
		<td title="{{ctx.config('priodesc')[tk['priority']]}}" width="10px">
			<div class="squareprio" style="background-color:{{priobgcolor}}">&nbsp;</div>
		</td>
		<td valign="middle" align="left">
			%class1 = ''
			%if tk['status'] == 0:
				%class1 = 'tktitle'
			%elif tk['status'] == 1:
				%class1 = 'tktitleclosed'
			%end
			%admin = ''
			%if tk['admin_only'] == 1:
				%admin = '<img src="/static/key-icon.png" class="icon" title="somente administradores">'
			%end
			<span class="{{class1}}">
				<a href="/ticket/{{tk['id']}}">{{tk['title']}}</a>
				{{!admin}}
			</span>
		</td>
		<td valign="middle" align="center">
			{{str(tk['datemodified'])[:10]}}
		</td>
		<td valign="middle" align="left">
			%for tag in sorted(tk['tags']):
				%if tag in ctx.tagsdesc:
					%description = ctx.tagsdesc[tag]['description']
					%bgcolor = ctx.tagsdesc[tag]['bgcolor']
					%fgcolor = ctx.tagsdesc[tag]['fgcolor']
				%else:
					%description = ''
					%bgcolor = '#00D6D6'
					%fgcolor = '#4D4D4D'
				%end
				<a href="/?filter=t:{{urllib.parse.quote(tag.encode('utf8'), '')}} o:p"
					class="tag"
					title="{{description}}"
					style="background-color:{{bgcolor}};color:{{fgcolor}};"
				>{{tag}}</a>
			%end
		</td>
	</tr>
%end
</table>
<p>

<div class="ticketsfiltrados">
	%if len(ctx.tickets) == 0:
		nenhum ticket encontrado com o filtro especificado
	%elif len(ctx.tickets) == 1:
		1 ticket filtrado
	%else:
		{{ len(ctx.tickets) }} tickets filtrados
	%end
</div>
