<!doctype html>
<html>
<head>
	<title>Ticket - Login</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<meta charset="utf-8">
</head>
<body onload="document.f.user.focus();">
	<div id="contentlogin">
		<span class="title">Sistema Ticket - Login</span>
		<p>
		<a name='new'></a>
		<form method="post" action="/login" enctype="multipart/form-data" name="f">
			<input type="text" name="user" size="20">
			<input type="password" name="passwd" size="20">
			<input type="submit" name="submit" value="Login">
		</form>
		<p>
		<small><font color="gray"><div align="right">sistema <a href="http://git.zanardo.org/ticket.git">ticket</a> versão {{ version }}</font></small>
		</table>
	</div>
</body>
</html>