<!doctype html>
<html>
<head>
	<title>Novo Ticket</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<meta charset="utf-8">
</head>
<body onload="document.f.title.focus();">
	<table border="0" align="right">
		<tr>
		<td class="topmenu">
		olá <b>anônimo</b>! 
			<a href='/' accesskey='A' title="alt-shift-a">abertos</a>
			| <a href='/?filter=T o:m l:100' title="alt-shift-m" accesskey='M'>modificados</a>
			| <a href='/new-ticket' accesskey='N' title='alt-shift-n'>novo</a>
		</td> <tr></tr> <td align=right>
		<form method="get" action="/" enctype="multipart/form-data">
			<input type="text" name="filter" size="25" accesskey='S' value="" title="alt-shift-s">
			<input type="submit" name="submit" value="filtrar" />
		</form>
		</td>
		</tr>
	</table>
	<span class="title">Novo Ticket</span>
	<p>
	<a name='new'></a>
	<form method="post" action="/new-ticket" enctype="multipart/form-data" name="f">
		<input type="text" name="title" size="90">
		<input type="submit" name="submit" value="Criar">
	</form>
	<p>
	<font color="#A5A5A5">
		<small>
			Digite uma descrição sucinta. Você poderá adicionar mais informações detalhadas depois.
		</small>
	</font>
	<p>
	<small><font color="gray"><div align="right">sistema <a href="https://github.com/zanardo/ticket">ticket</a> versão 1.1dev</font></small>
	</table>
</body>
</html>