body {
	background-color: #F1F3F4;
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	margin: 1em 2em 2em 2em;
}

.tab {
	color: #0000EE;
	cursor: pointer;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	text-decoration: underline;
}

a:link {
	color: #0000EE;
}

a:visited {
	color: #0000EE;
}

a:active {
	color: #0000EE;
}

a:hover {
	color: #FF0000;
}

input, textarea, select, submit {
	background-color: #F1F3F4;
	border: 1px solid #336699;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
}

.topmenu {
	font-family: Arial, sans-serif;
	font-size: 9pt;
}

.title {
	font-family: "Gill Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 24pt;
	font-weight: normal;
}

.tags {
	border: 1px dotted #336699;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
}

.actions {
}

.ticket {
	border: 1px solid #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

.ticketlabel {
	font-size: 12px;
}

.tag {
	font-weight: bold;
	text-decoration: none;
}

.tktitle {
	font-family: "Verdana";
	font-size: 12px;
	font-weight: bold;
}

.copyright {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: gray;
	text-align: right;
}