body {
	background-color: #F1F3F4;
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	margin: 0;
}

#content {
	margin: 10px;
}

.tab {
	color: #0000EE;
	cursor: pointer;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	text-decoration: underline;
}

a:link,
a:visited,
a:active {
	color: #262626;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.ticketsfiltrados {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	text-align: right;
	margin-top: 30px;
}

input, textarea, select, submit {
	background-color: #F1F3F4;
	border: 1px solid #336699;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
}

.topmenu {
	font-family: Arial, sans-serif;
	font-size: 9pt;
}

#topusermenu {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	text-align: right;
	padding: 4px;
	color: #808080;
	border-bottom: 1px solid #CCCCCC;
	background-color: #E2E7E9;
	box-shadow: 1px 1px 1px #D4D4D4;
	margin-bottom: 5px;
}

#topusermenu a:link, 
#topusermenu a:visited,
#topusermenu a:active {
	color: #808080;
	text-decoration: none;
}

#topusermenu a:hover {
	text-decoration: underline;
}

.title {
	font-family: "Gill Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 24pt;
	font-weight: normal;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}

.tags {
	border: 1px dotted #336699;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
}

.actions {
}

.ticket {
	padding: 1px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

.ticketlabel {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #808080;
	padding-right: 10px;
}

.tag {
	font-weight: bold;
	text-decoration: none;
	opacity: 0.4;
}

.tktitle {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
}

.tktitle2 {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.tktitleclosed {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	text-decoration: line-through;
}

.copyright {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	padding-top: 5px;
	border-top: 1px solid #CCCCCC;
	color: #808080;
	text-align: right;
	background-color: #E2E7E9;
	padding: 20px;
	margin-top: 70px;
	box-shadow: 1px 1px 1px #D4D4D4;
}

.deschelp {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #a5a5a5;
}

.orderdate {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
	margin: 10px;
	color: #a5a5a5;
}